button.boy,
button.girl {
  font-size: 1.3em;
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 0;
  transition: all 0.5s ease-in-out;
}
button.boy {
  background: #4fc3f7;
}
button.boy:hover,
button.boy:focus {
  background: #8cd7fa;
}
button.boy:active {
  background: #3d99c4;
}
button.girl {
  background: #f06292;
}
button.girl:hover,
button.girl:focus {
  background: #ff8bb1;
}
button.girl:active {
  background: #c54a73;
}
button.boy:disabled,
button.girl:disabled {
  background: lightgray;
}
