#motus-input {
  text-align: center;
  transition: opacity 0.5s ease-in-out;
}

#page-motus button {
  margin: 0;
  font-size: 1.5em;
}

.board-container {
  margin: auto;
  margin-top: 20px;
  border: #c6e9ff 2px solid;
  border-collapse: collapse;
}

.board tr {
  height: 5vw;
}

.board td {
  font-family: Helvetica;
  position: relative;
  display: inline-grid;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  border: #c6e9ff 2px solid;
  font-weight: bold;
  font-size: 6vw;
  width: 12vw;
  height: 12vw;
  background: linear-gradient(to bottom, #11a7ff, #0065cf);
}

.letter,
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  display: inline-grid;
  align-items: center;
}

.match-word {
  background: linear-gradient(to bottom, #f9f97f, #ffd400);
  border-radius: 50%;
  margin: auto;
}
.match-exact {
  background: linear-gradient(#f78972, #95351e);
  box-shadow: 0.33vw 0.33vw 0.33vw #ffae9d inset,
    -0.33vw -0.33vw 0.33vw #883733 inset;
}

.letter-hidden .overlay {
  background: none;
  box-shadow: none;
}

@media only screen and (min-width: 1000px) {
  .board tr {
    height: 2.5vw;
  }
  .board td {
    font-size: 2.5vw;
    width: 5vw;
    height: 5vw;
  }
}
